<!DOCTYPE html>
<html th:replace="~{/layout :: layout(~{::title}, ~{::main})}" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Login</title>
    
    
</head>
<body>
  <main class="d-flex justify-content-center align-items-center vh-100">
    <form class="p-4 rounded shadow-lg bg-light" th:method="post" th:action="@{/login}" th:object="${userLoginForm}">
        <fieldset>
            <div id="legend" class="mb-3">
                <legend class="text-center">Log In</legend>
                <p th:text="${worngCredential}" class="text-danger text-center"></p>
            </div>

            <div class="mb-3">
                <!-- Username -->
                <label class="form-label" for="username">Username</label>
                <input type="text" id="username" name="username" th:field="*{userName}" placeholder="Enter your username" class="form-control" required="required">
            </div>

            <div class="mb-3">
                <!-- Password -->
                <label class="form-label" for="password">Password</label>
                <input type="password" id="password" name="password" th:field="*{password}" placeholder="Enter your password" class="form-control" required="required">
            </div>

            <div class="d-grid gap-2">
                <!-- Submit Button -->
                <button class="btn btn-success">Log In</button>
            </div>
        </fieldset>
    </form>
</main>

</body>
</html>
</body>
</html>